/* ==========================================================================
Testimonials Styles
========================================================================== */

.testimonials {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  width: 100%;
  color: #333;
  text-align: left;
  background-color: $smoke-white;
  padding: 2rem;
  border-radius: 0.65rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: block;
    z-index: 1;
  }

  blockquote {
    margin-top: 1.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: $blue-grey;
    display: block;
  }

  blockquote:before {
    font-family: "Material Icons";
    content: "\e244";
    position: absolute;
    font-size: 30px;
    opacity: 0.3;
    font-style: normal;
  }

  blockquote:before {
    top: 16px;
    left: 16px;
  }

  .author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-align: left;
    margin-top: 1.5rem;
    z-index: 0;

    > div {
      line-height: 1.2;
    }

    h5 {
      text-transform: capitalize;
      bottom: 60%;
      margin: 0;
      font-weight: 600;
      font-size: 1.2rem;
      color: $blue-grey;
    }

    span {
      display: block;
      font-size: 0.8em;
      color: lighten($blue-grey, 20%);
      top: 50%;
    }
  }
}
