# Disable npm warning about missing optional peer dependencies
strict-peer-dependencies=false
legacy-peer-deps=true
# Force pnpm to install all deep dependencies in node_modules
shamefully-hoist=true
# Use v6 lockfile format
use-lockfile-v6=true