---
import { ViewTransitions } from 'astro:transitions';
import Unfont from 'unplugin-fonts/astro/component.astro';
import BackToTop from '../components/BackToTop.astro'
import 'simplebar/dist/simplebar.min.css'
import 'plyr/dist/plyr.css'
import '../styles/main.scss'
const {title} = Astro.props
---

<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <Unfont />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fresh {'- ' + title}</title>
    <ViewTransitions />

    <link rel="icon" type="image/png" href="img/favicon.png" />
  </head>

  <body>

    <!--Body partial-->
    <slot />

    <!--Back to top-->
    <BackToTop />

    <script src="../js/main"></script>
  </body>
</html>
